.btn {
    background-color: rgb(108, 43, 111);
    transition-duration: 0.15s;
    color: whitesmoke;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    max-width: 200px;
}

.btn:hover {
    background-color: rgb(109, 60, 119);
}